[Desktop Entry]
Version=1.0
Name=Kitty
Comment=Fast, feature-rich, GPU-based terminal emulator
Exec=kitty --title "kitty"
Icon=kitty
Terminal=false
Type=Application
Categories=System;TerminalEmulator;

