[user]
  ; email = damirsa2001@gmail.com
  ; name = David

[init]
  defaultBranch = main

[pull]
  rebase = true

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[core]
  editor = nvim

[merge]
  tool = meld

[mergetool "meld"]
  cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output="$MERGED"
  trustExitCode = false

[mergetool]
  keepBackup = false

[diff]
  tool = meld

[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
  trustExitCode = true

[color]
  ui = true

[help]
  autocorrect = 1
[credential "http://gitlabnew.depid.local"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
